{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Приют для животных</title>
    <script src="{% static "js/jquery-3.5.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
    <div class="fixed-container">
        <div class="row justify-content-between controls__top">
            <div class="btn-group" role="group">
                {% block controls_top %}
                {% endblock %}
            </div>
            <div class="logout">
                {% block logout %}
                    <a href="/user/logout">Выход из системы ({{ request.user.username }})</a>
                {% endblock %}
            </div>
        </div>

        {% block content %}
        {% endblock %}

        <div class="row justify-content-between controls__bottom">
            {% block controls_bottom %}
            {% endblock %}
        </div>
    </div>
</body>
</html>